.App {
  text-align: center;
  background-image: url(./images/1.png);
  background-size: 230vh;
  background-position-x: -65px;
  background-position-y: -85px;
  min-height: 100vh;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

